.disenio, .disenio--header, .disenio--footer, .disenio--titulo {
  text-align: center;
  text-decoration: none;
  padding: 1% 1%; }

.fuente {
  font-family: Times New Roman; }

.disenio--header {
  background-color: #5F9EA0; 
  background:-o-linear-gradient(left, black)
} 

.img {
  display: block;
  justify-self:right;
 
}

.disenio--footer {
  background-color: #A9A9A9; }

.disenio--titulo {
  background-color: #ffffff; }

.logo {
  display: flex;
  justify-self: right; }

body {
  height: 100vh;
  background-color: #ffffff; }

.espacioHeader {
  display: block;
  padding: 20px 80px;
  border: 2px solid black;
  margin: 20px 80px; }

.redesSociales {
  background-color: white;
  padding: 2%;
  margin: 2%; }

.espacioRedes {
  padding: 2px 20px; }

.introduccion {
  grid-area: intro; }

.autor {
  grid-area: autor; }

.disenioNosotros {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 100%;
  grid-template-areas: "intro autor"; }
