$paletaColores: (
    principal: #517f83,
    secundario: #9e8d77,
    terciario: #583d34,
);

.disenio{
    text-align: center;
    text-decoration: none;
    margin: 2%;
    padding: 1% 1%;
}

.disenio--header{
    @extend .disenio;
    background-color:map-get($paletaColores , principal );
}

.disenio--footer{
    @extend .disenio;
    background-color: map-get($paletaColores , terciario );
}

.disenio--titulo{
    @extend .disenio;
    background-color: map-get($paletaColores , secundario );
}

.logo{
    display: flex;
    justify-self: right;
}

body{
    height: 100vh;
    background-color: map-get($paletaColores, secundario);
}

.espacioHeader{
    padding: 20px 80px;
    border: 2px solid black;
    margin: 20px 80px;
}

@mixin espacios($cuerpo, $marco){
    padding: $cuerpo;
    margin: $marco;
}

.redesSociales{
    background-color: white;
    border: 2px solid black;
    @include espacios(5%, 2%)
}

.espacioRedes{
    padding: 2px 20px;
}

.introduccion{grid-area: intro;}
.autor{grid-area: autor;}

.disenioNosotros{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 100%;
    grid-template-areas:
    "intro autor";
}